body{
    margin: 10;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.topnav{
    overflow: hidden;
    background-color: aqua;
}
.topnav a{
    float:left;
    color:brown;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 17px;
}
.topnav a:hover{
    background-color:blueviolet;
    color: black
}
.topnav a.active{
    background-color:bisque;
    color:aquamarine;
}